@import './nav.css';
@import './welcome.css';
@import './projects.css';
@import './contact.css';
@import './about.css';

:root {
  --font: #ebebeb;
  --font-muted: #ebebeb8c;
  --form-font: #495057;
  --primary-color: #2b3e50;
  --secondary-color: #4e5d6c;
  --nav-color: #586169;
  --project-title-color: #DF691A;
}

body {
  font-family: 'Lato', system-ui;
  font-weight: 300;
  color: var(--font);
  background: var(--primary-color);
  margin: 0;
  text-align: center;
  padding-bottom: 1.5rem;
}

h2 {
  font-weight: 300;
  margin-bottom: .8em;
  font-size: 2.5em;
}

section {
  padding: 1rem 0;
}